.chat-frame {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 3dvb;
  margin: 0 3dvb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.write-bar {
  display: flex;
  margin: 0 3dvb;
  padding: 1dvb 0dvb 2dvb 0dvb;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.write-bar-input {
  flex: 1;
  padding: 1.5dvb;
  border: none;
  border-radius: 10px;
  outline: none;
  resize: vertical;
  background-color: var(--secondary-color);
  font-size: 1.5dvh;
  color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.write-bar-button {
  margin-left: 1dvb;
  padding: 1dvb;
  margin: 0.5dvb;
  font-size: 1.5dvh;
  border: none;
  border-radius: 10px;
  background-color: var(--white);
  color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

@media screen and (max-width: 768px) {
  .chat-frame {
    margin: 1dvb;
  }

  .write-bar {
    margin: 0 1dvb;
    padding: 0.5dvb 0dvb 2dvb 0dvb;
  }
}
