#root {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  font-size: 1.5dvh;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1dvb 3dvb;
  color: var(--white);
}

.app-title {
  font-size: 2.5dvh;
  margin: 0;
}

.credits {
  font-size: 1.2vh;
  margin: 1dvb;
  text-align: right;
  color: rgba(255, 255, 255, 0.87);
}
